VITE_SUPABASE_URL=https://gkobfatlcdnazaybkrnd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdrb2JmYXRsY2RuYXpheWJrcm5kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0NTYzMTMsImV4cCI6MjA5MTAzMjMxM30.UJ31MXVluEW7kgn4ePWNh38Y9N7qi6cQrSqqhpGByTM
